---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(/\/$/, '') || '/';
const normalizedHref = href.replace(/\/$/, '') || '/';
const isActive = pathname === normalizedHref;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		border-bottom: 4px solid transparent;
	}
	a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
